---
layout: default
---

<div class="row">
  <div class="col-xs-3">
    <ul class="pull-right nav">
      {% assign processes = site.data.processes | sort: [0] %}
      {% for process in processes %}
        <li><a class="post-link" href="{{ process[0] | append: ".html" | prepend: 'processes/' | prepend: site.baseurl | prepend: site.url }}">{{ process[1].id }}. {{ process[1].nazev }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-xs-9">
    <h1>{{page.nazev}}</h1>

    <div id="home">
      <table class="table table-striped">
        <tbody>
          {% if page.cil %}<tr><th>Strategický cíl</th><td>{{page.cil}}</td></tr>{% endif %}
          {% if page.produkt %}<tr><th>Produkt / služba</th><td>{{page.produkt}}</td></tr>{% endif %}
          {% if page.ucel %}<tr><th>Účel</th><td>{{page.ucel}}</td></tr>{% endif %}
          {% if page.vlastnik %}<tr><th>Vlastník procesu</th><td>{{page.vlastnik}}</td></tr>{% endif %}
          {% if page.zakaznik %}<tr><th>Zákazník procesu</th><td>{{page.zakaznik}}</td></tr>{% endif %}
          {% if page.problemy %}<tr><th>Oblasti pro zlepšení / problémy</th><td><ul>{% for problem in page.problemy %}<li>{{problem}}</li>{% endfor %}</ul></td></tr>{% endif %}
          {% if page.metriky %}<tr><th>Metriky</th><td><ul>{% for metrika in page.metriky %}<li>{{metrika}}</li>{% endfor %}</ul></td></tr>{% endif %}
          {% if page.udalost %}<tr><th>Startovací událost</th><td>{{page.udalost}}</td></tr>{% endif %}
          {% if page.podminky %}<tr><th>Podmínky</th><td><ul>{% for podminka in page.podminky %}<li>    {{podminka}}</li>{% endfor %}</ul></td></tr>{% endif %}
          {% if page.systemy %}<tr><th>Informační systémy / aplikace</th><td><ul>{% for system in page.systemy %}<li>{{system}}</li>{% endfor %}</ul></td></tr>{% endif %}
          {% if page.dokumenty %}<tr><th>Dokumenty</th><td><ul>{% for dokument in page.dokumenty %}<li>    {{dokument}}</li>{% endfor %}</ul></td></tr>{% endif %}
        </tbody>
      </table>
    </div>
    <div id="graph">
      <img src="{{ page.name | replace: 'html','svg' | prepend: 'processes/' | prepend: site.baseurl | prepend: site.url}}" class="img-thumbnail img-responsive">
      <!--{% highlight dot %}
  {{ page.dot }}
      {% endhighlight %}-->
    </div>
    <div style="margin-top: 1em; width: 60%" id="description">{{ page.text }}</div>
  </div>

</div>
