---
layout: default
---

<h1>{{page.nazev}}<br/><small>{{page.id}}</small></h1>

<div role="tabpanel">
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tabulka</a></li>
  <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Popis</a></li>
  <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graf</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content col-xs-8">
  <div role="tabpanel" class="tab-pane active" id="home">
    <table class="table table-striped">
      <tbody>
        <tr><th>Strategický cíl</th><td>{{page.cil}}</td></tr>
        <tr><th>Produkt / služba</th><td>{{page.produkt}}</td></tr>
        <tr><th>Účel</th><td>{{page.ucel}}</td></tr>
        <tr><th>Vlastník procesu</th><td>{{page.vlastnik}}</td></tr>
        <tr><th>Zákazník procesu</th><td>{{page.zakaznik}}</td></tr>
        <tr><th>Oblasti pro zlepšení / problémy</th><td><ul>{% for problem in page.problemy %}<li>{{problem}}</li>{% endfor %}</ul></td></tr>
        <tr><th>Metriky</th><td><ul>{% for metrika in page.metriky %}<li>{{metrika}}</li>{% endfor %}</ul></td></tr>
        <tr><th>Startovací událost</th><td>{{page.udalost}}</td></tr>
        <tr><th>Podmínky</th><td><ul>{% for podminka in page.podminky %}<li>    {{podminka}}</li>{% endfor %}</ul></td></tr>
        <tr><th>Informační systémy / aplikace</th><td><ul>{% for system in page.systemy %}<li>{{system}}</li>{% endfor %}</ul></td></tr>
        <tr><th>Dokumenty</th><td><ul>{% for dokument in page.dokumenty %}<li>    {{dokument}}</li>{% endfor %}</ul></td></tr>
      </tbody>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane" id="description">{{ page.text }}</div>
  <div role="tabpanel" class="tab-pane" id="graph">
    <img src="{{ page.name | replace: 'html','svg' | prepend: 'processes/' | prepend: site.baseurl | prepend: site.url}}">
    {% highlight bash %}
      {{ page.dot }}
    {% endhighlight %}
  </div>
</div>
</div>